@charset "utf-8";
/* CSS Document */
* { margin: 0 auto;padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
.aboutUsbg {background:url(../images/aboutUsbg.jpg); background-size:100%; background-repeat:no-repeat; background-attachment:fixed; min-width: 1200px;} 
.hdHeader{ width:100%;}
.clearfix{content:"";display:inline-block;}
.clearfix:after{ content:""; display:inline-block; clear:both;}
.aboutUsContent{ margin:0 70px;}
.aboutUsTit{ height:130px;line-height:130px; text-align:center; font-size:48px; color:#fff; }
.active{border-bottom: 2px solid #9562ff;}
.tabBox{ position:relative;}
.tabBox .hd{ height:40px; line-height:40px; padding:0 10px; font-size:20px; position:absolute; right:130px; bottom:30px;z-index: 9;}
.tabBox .hd ul{width:120px; position:absolute; height:41px; top:0;  overflow:hidden;  }
.tabBox .hd ul li{ float:left; padding:0 10px; color:#fff; cursor:pointer; }
.tabBox .bd li img{ width:100%;}
.photoWall ul{/* max-height:750px; overflow:auto;*/ margin:30px 0 0; 0}
.photoWall ul li{ width:18.7%; float:left;}
.mrDes{margin:0 1.625% 1.625% 0;}
.photoWall ul li img{ width:100%; display:block;}
/*.photoWall ul li:nth-child(5n){margin-right:0 !important;}*/
/*搜索的*/
.searchbg{background:#000; min-width: 1200px;}
.searchContent{ text-align:center;}
.searchContent .searchTit{ font-size:30px; color:#fff; margin-top:67px;} 
input[type="search"] {-webkit-appearance: none;}
.searchAddress {margin: 20px auto 10px;width: 234px;height:28px; line-height:28px;border: none;outline: none;background: #000 url(../images/Search%20copy%203%20.png) no-repeat center;font-size: 12px;color: #000;line-height: 1; padding:7px 5px;}
.searchBox{ width:690px; height:186px; background:#fff; overflow:auto;}
.searchMap{ margin:35px auto; width:902px; height:400px; background:url(../images/searchmap.jpg) no-repeat;}
.hidden{ display:none;}
.searchBox{padding-top:28px;}
.searchBox .searchLink{ font-size:12px; line-height:1; text-align:left; padding:0 0 10px 40px;}

.searchBox a{ color:#000; padding:0 0 0 75px; text-align:left; font-size:15px; line-height:30px;}
.searchBox a .city{ width:55px; display:inline-block;}
.searchBox a .storeName{ width:200px; display:inline-block;}
.searchBox i{ font-style:normal; margin-left:10px; display:inline-block;}
.aboutWatchbg{ background:url(../images/watchbg.jpg) no-repeat; background-size:100%;  background-attachment:fixed; }
.aboutWatch{ width:1066px; height:627px;margin:0 auto 0;}
.watchLeft{ width:530px; float:left;}
.leftBot{ margin:0 0 0 -46px; padding-bottom:11px;}
.watchRight{ display:inline-block; }
.watchRight .watchRight_tit{ padding:40px 133px 50px 0; line-height:1; font-size:60px; color:#fff;}
.watchRight .watchRight_tit span{ margin-left:72px;}
.watchRight .watchRight_pri{ width:320px; height:40px; margin-right:140px !important;line-height:40px; padding:0 0 0 144px; background:url(../images/price.png) left center no-repeat; background-size:135px 37px; font-size:25px; color:#fff; text-align:right; }
.watchRight .watchRight_pri span{ font-size:15px;}
.watchRight .watches{ padding-left:143px; margin-top:180px;}
.watchRight .watches img{ margin-left:25px;}
.watchRight .watches p{ line-height:1; font-size:14px; color:#fff; padding:0 0 0 52px; margin-top:10px;}
.watchRight .watches p span{ margin-left:91px;}
/*watchmenu*/
.watchMenu{ width: 1160px; position:absolute; top:150px; left:50%; margin-left:-580px;}
.watchMenu ul li{ float:left; padding:0 27px;}
.watchMenu ul li img{ text-align:center;}
.watchMenu ul li p{ text-align:center;}
.wd_center{ text-align:center; margin:0 auto;}
.wd_center .imgIntro{ height:595px; position:relative;}
.wd_center img{ display:block;}
.wd_center .imgIntro .imgcenter{ position:absolute; top:0; left:50%; margin-left:-402px;}
.wd_center .wat_img .introLeft,.wd_center .wat_img  .introRight{ color:#fff;  position:absolute;}
.wd_center .wat_img .introLeft{ width:410px; top:314px; left:50%; margin-left:-410px;}
.wd_center .wat_img .introRight{ width:385px; top:314px;left:50%; margin-left:12px;}
.wd_center .wat_img h3{ font-size:16px; line-height:1; padding:25px 0;}
.wd_center .wat_img p{ font-size:13px; line-height:28px;text-align:left; letter-spacing:1px; padding-left:10px;}
.watchParts {height: 865px; position:relative; margin:0 auto;list-style-type: none; padding: 0px;}
.watchParts h3{ font-size:34px; color:#fff; font-weight:normal; line-height:1; padding-bottom:175px;}
.watchParts li { height:285px; position:absolute;}
.watchParts li .watchPartImg{ vertical-align:middle;}
.watchParts li{ float:left; position:relative;}
.watchParts li .partTntro{ position:absolute; top:40px; text-align:center;} 
.watchParts li .partTntro img{ display:block;}
.probot{ width:100%; position:relative; }
.probot img{ text-align:center; margin:0 auto; display:block;}
.probot h3{ position:absolute; top:103px; left:230px;margin:0 0 20px; line-height:1; font-size:28px; color:#fff;}
.probot p{ position:absolute; top:158px; left:230px;line-height:1; font-size:19px;color:#fff;}
.footerMap{ background:#222222; color:#fff; padding:40px 0 0 180px;}
.productTntro{ height:815px; width:100%; background:#efefef; padding-top:220px;}
.productTntro .proLeft{ width:585px; position:absolute; left:50%; margin-left:-595px;}
.productTntro .proRight{position:absolute; left:50%; margin-left:168px;}
.productTntro .pTitle{ height:45px; line-height:45px; vertical-align:middle; font-size:14px; color:#000;}
.productTntro .pTitle:before{ content:""; width:68px; height:45px; display:inline-block; vertical-align:middle;}
.productTntro .proLeft .pTitle1:before{ background:url(../images/watch/tit1.png) left center no-repeat;}
.productTntro .proLeft .pTitle2:before{ background:url(../images/watch/tit2.png) left center no-repeat;}
.productTntro .proLeft .pTitle3:before{ background:url(../images/watch/tit3.png) left center no-repeat;}
.productTntro .proLeft .pTitle4:before{ background:url(../images/watch/tit4.png) left center no-repeat;}
.productTntro .proRight .pTitle5:before{ background:url(../images/watch/tit5.png) left center no-repeat;}
.productTntro .proRight .pTitle6:before{ background:url(../images/watch/tit6.png) left center no-repeat;}
.productTntro .proRight .pTitle7:before{ background:url(../images/watch/tit7.png) left center no-repeat;}
.productTntro .proRight .pTitle8:before{ background:url(../images/watch/tit8.png) left center no-repeat;}
.productTntro .pContent{ font-size:13px; color:#3a3a3a; line-height:1; padding-left:68px;} 
.pd17{ padding-top:17px;}
.watch_pri{ color:#fff; font-size:25px; text-align:center;}
.watch_pri img{ display:inline-block;}
.watch_pri span{ font-size:15px;}