@charset "utf-8";
/* CSS Document */
* { margin: 0 auto;padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
.aboutUsbg {background:url(../images/aboutUsbg.jpg); background-size:100%; background-repeat:no-repeat; background-attachment:fixed; min-width: 1200px;} 
.hdHeader{ width:100%;}
.clearfix{content:"";display:inline-block;}
.clearfix:after{ content:""; display:inline-block; clear:both;}
.aboutUsContent{ margin:0 70px;}
.aboutUsTit{ height:130px;line-height:130px; text-align:center; font-size:48px; color:#fff; }
.active{border-bottom: 2px solid #9562ff;}
.tabBox{ position:relative;}
.tabBox .hd{ height:40px; line-height:40px; padding:0 10px; font-size:20px; position:absolute; right:130px; bottom:30px;z-index: 9;}
.tabBox .hd ul{width:120px; position:absolute; height:41px; top:0;  overflow:hidden;  }
.tabBox .hd ul li{ float:left; padding:0 10px; color:#fff; cursor:pointer; }
.tabBox .bd li img{ width:100%;}
.photoWall ul{/* max-height:750px; overflow:auto;*/ margin:30px 0 0; 0}
.photoWall ul li{ width:18.7%; float:left;}
.mrDes{margin:0 1.625% 1.625% 0;}
.photoWall ul li img{ width:100%; display:block;}
/*.photoWall ul li:nth-child(5n){margin-right:0 !important;}*/
/*搜索的*/
.searchbg{background:#000; min-width: 1200px;}
.searchContent{ text-align:center;}
.searchContent .searchTit{ font-size:30px; color:#fff; margin-top:67px;} 
input[type="search"] {-webkit-appearance: none;}
.searchAddress {margin: 20px auto 10px;width: 234px;height:28px; line-height:28px;border: none;outline: none;background: #000 url(../images/Search%20copy%203%20.png) no-repeat center;font-size: 12px;color: #000;line-height: 1; padding:7px 5px;}
.searchBox{ width:690px; height:186px; background:#fff; overflow:auto;}
.searchMap{ margin:35px auto; width:902px; height:400px; background:url(../images/searchmap.jpg) no-repeat;}
.hidden{ display:none;}
.searchBox{padding-top:28px;}
.searchBox .searchLink{ font-size:12px; line-height:1; text-align:left; padding:0 0 10px 40px;}

.searchBox a{ color:#000; padding:0 0 0 75px; text-align:left; font-size:15px; line-height:30px;}
.searchBox a .city{ width:55px; display:inline-block;}
.searchBox a .storeName{ width:200px; display:inline-block;}
.searchBox i{ font-style:normal; margin-left:10px; display:inline-block;}
.aboutWatchbg{ background:url(../images/watchbg.jpg) no-repeat; background-size:100%;  background-attachment:fixed; }
.aboutWatch{ width:1066px; height:627px;margin:0 auto 0;}
.watchLeft{ width:530px; float:left;}
.leftBot{ margin:0 0 0 -46px; padding-bottom:11px;}
.watchRight{ display:inline-block; }
.watchRight .watchRight_tit{ padding:40px 133px 50px 0; line-height:1; font-size:60px; color:#fff;}
.watchRight .watchRight_tit span{ margin-left:72px;}
.watchRight .watchRight_pri{ width:320px; height:40px; margin-right:140px !important;line-height:40px; padding:0 0 0 144px; background:url(../images/price.png) left center no-repeat; background-size:135px 37px; font-size:25px; color:#fff; text-align:right; }
.watchRight .watchRight_pri span{ font-size:15px;}
.watchRight .watches{ padding-left:143px; margin-top:180px;}
.watchRight .watches img{ margin-left:25px;}
.watchRight .watches p{ line-height:1; font-size:14px; color:#fff; padding:0 0 0 52px; margin-top:10px;}
.watchRight .watches p span{ margin-left:91px;}
/*watchmenu*/
.watchMenu ul{ width: 1200px; margin:0 auto;}
.watchMenu ul li{ float:left; }
.watchMenu ul li img{ text-align:center;}
.watchMenu ul li p{ text-align:center;}