* {
    margin: 0 auto;
    padding: 0;
	font-family:'Microsoft YaHei','Heiti SC',simhei,'Lucida Sans Unicode','Myriad Pro','Hiragino Sans GB';
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
      }
ul, li{list-style: none;}
a{outline: none; text-decoration: none;}
a img{border: none;}
body{
	min-width: 1200px;
}
.clearfix:after{ content:""; display:inline-block; clear:both;}
.tabBox{ position:relative;}
.tabBox .hd{ height:40px; line-height:40px; padding:0 10px; font-size:20px; position:absolute; right:160px; bottom:30px;z-index: 9;}
.tabBox .hd ul{width:155px; position:absolute; height:41px; top:0;  overflow:hidden;  }
.tabBox .hd ul li{ float:left; padding:0 10px; color:#fff;  }
.tabBox .bd li img{ width:100%;}
.tabBox .hdwatch{ height:484px; width:835px;position:absolute; z-index: 9;margin: 0 auto;left:50%;margin-left:-427px;}
.tabBox .hdHeader{ height:140px; width:100%;position:absolute; z-index: 10;margin: 0 auto;left:0;top:0;}

.bgimg{
	background-color:#222;
	width: 100%;
	height: 1080px;
}
.header{
	height: 140px;
	padding-top: 30px;
}
.header a{
	display: inline-block;
	margin-left: 70px;
	width: 82px;
	height: 78px;
}
nav{
	width: 70%;
	float: right;
	line-height: 78px;
	margin-right: 70px;
}
nav ul{
	width: 80%;
}
nav ul li{
	display: inline-block;
	width: 66px;
	margin: 0 15px;
	color: #fff;
	text-align: center;
<<<<<<< HEAD
	cursor:pointer;
=======
	cursor: pointer;
}
.xxx{
	position:relative;
	left:10px;
	top:-8px;
	cursor: pointer;
	
>>>>>>> 18e9a78b835da14e33e306fe0e4b6f27ef7b7ce5
}
.dap{
	position:relative;
}
.search{
	background: url('./../images/Search copy 3.png') center no-repeat;
	height: 78px;
	width: 15px;
	float: right;
	line-height: 42px;
	margin-right:70px;
	position:absolute;
	right:20%;
	top:0;
	cursor: pointer;
}
.inputdis{
	width: 70%;
	float: right;
	line-height: 78px;
	margin-right: 70px;
	display:none;
	position:absolute;
	left:0;
	top:0;
	
}
.showSearch{
	background: url('./../images/Search copy 3.png') left center no-repeat;
	height: 50px;
	width: 80%;
	float: left;
	line-height: 20px;
	border:1px solid #ccc;
	padding:15px 20px ; 
	color:#fff;
}
.active{
	border-bottom: 2px solid #9562ff;
}
.content{
	margin-top: 160px;
}
.content p{
	text-align: center;
	font-size: 74px;
	line-height: 90px;
	color: #fff;
}
.watch{
	height: 40px;
	width: 200px;
	margin-top: 260px;
}
.page{
	margin-top: 240px;
	float: right;
	margin-right: 90px;
	width: 120px;
	line-height: 25px;
	height: 25px;
}
.page a{
	text-decoration: none;
	color: #fff;
	padding: 0 5px;	
}
.a-active{
	border-left: 1px solid #fff;
}


.section2{
	height:1034px;
	width:100%;
	text-align: center;
}
.section2-title{
	padding-top: 120px;
	font-size:10px;
}
.section2-title2{
	font-size: 30px;
	line-height: 80px;

}
.section2-title3{
	font-size:14px;
	color: #adadad;
	margin-bottom: 90px;
}
video{
	width:100%;
}
.video-div{
	width: 1140px;
	height: 600px;
	border:1px solid #adadad;
}

.section3{
	height: 602px;
	background-color: #f5f5f5;
	position:relative;
}
.sect3-img{
	width: 520px;
	/*width:32.5%;*/
	height: 601px;
	float:right;
	position:relative;
}
.sect3-word{
	width: 670px;
	/*width:67%;*/
	float:right;
	height: 601px;
	padding-top:45px;
	position:absolute;
	left:40%;
	margin-left:-350px;
}
.sect3-center{
	position:absolute;
	width: 670px;
	height:600px;
	margin: 0 auto;
	left:50%;
	top:50%;
	margin-left:-335px;
	margin-top:-300px;
}
.sect3-div{
	width:230px;
	float:left;
	height:212px;
	margin:4%;
}
.sect3-div{
	text-align: center;
}
.sect3-div img{
	width: 40px;
	height: 40px;
}
.sect3-title{
	margin-top:35px;
	font-size:12px;
	letter-spacing: 10px;
}
.sect3-desc{
	color:#888888;
	font-size: 14px;
	text-align: left;
	margin-top:20px;
	line-height: 24px;
}

.sect3-log{
	position: absolute;
    width: 230px;
    height: 233px;
    top: 50%;
    left: 50%;
    margin-left: -115px;
    margin-top: -116px;
    text-align: center;
    color: #fff;
}
.sect3-log img{
	display:inline-block;
	margin-bottom:50px;
}
.sect3-log p{
	font-size:50px;
}
.section4{
	height:976px;
	background-color: #333333;
	position:relative;
}
.biaoDesc{
	display:none;
}
.ssp{
	display:block;
}
.sect4-word{
	margin-bottom:144px;
	margin:0 auto;
	width:360px;
	color:#fff;
	text-align: center;
}
.sect4-title{
	font-size:12px;
	padding-top:120px;
	margin-bottom:18px;
}
.sect4-title2{
	font-size:30px;
	margin-bottom:32px;
}
.sect4-desc p{
	font-size:14px;
	line-height: 26px;
}
.sect4-desc{
	margin-bottom: 36px;
}

.know{
	background: url('./../images/立刻了解.png') center no-repeat;
	height: 40px;
	width: 200px;
}
.sect4-biao{
	background: url('./../images/OT-5.png') center no-repeat;
	height: 502px;
	width: 402px;
	margin: 0 auto;
	bottom: 0px;
	left:50%;
	margin-left:-201px;
	position: absolute;
}
.sect4B{
	width:402px;
	height:502px;
	margin: 0 auto;
	bottom: 0px;
	left:50%;
	margin-left:-201px;
	position: absolute;
}

.imgdiv{
	position:absolute;
}
.img15{
	top:218px;
	left:0px;
}
.img16{
	top:0px;
	left:65px;
}

.img18{
	top:115px;
	right:0px;
}

.img17{
	top:476px;
	right:0px;
}
.wrapper{position: relative; width:402px; height:502px; overflow: hidden;}
		
.slidePic{position:relative; width:402px; height:502px; overflow:hidden;}
.slidePic li{display: none; position:absolute; width:402px; height:502px;}
.slidePic li img{vertical-align: top; width:402px; height:502px;}
.slidePic li span{position: absolute; display: block; width:402px; height:502px; line-height: 502px; text-align: center; font-size: 100px; color:#fff; font-weight: bold;}

.slideNum{ position:absolute; left:50%;  bottom:5px; width: 300px; height: 24px; margin-left: -150px; text-align: center;}
.slideNum li{display: inline-block; margin:0 3px; width:24px; height:24px; line-height: 24px;  text-align:center; background:#222; color:#FFF; cursor:pointer; border-radius:12px; font-size: 14px; *display: inline; *padding: 5px 8px; }
.slideNum li.current{background:#CCC; cursor:default;}


	
@media screen and (max-width: 1400px) {
	.section4{
		height:832px;
	}
	.know{
		background: url('./../images/立刻了解.png') center no-repeat;
		height: 30px;
		width: 150px;
	}
	.sect4B{
		width:302px;
		height:377px;
		margin: 0 auto;
		bottom: 0px;
		left:50%;
		margin-left:-151px;
		position: absolute;
	}
.wrapper{position: relative; width:301px; height:376px; overflow: hidden;}
		
.slidePic{position:relative; width:301px; height:376px; overflow:hidden;}
.slidePic li{display: none; position:absolute; width:301px; height:376px;}
.slidePic li img{vertical-align: top; width:301px; height:376px;}
.slidePic li span{position: absolute; display: block; width:301px; height:376px; line-height: 376px; text-align: center; font-size: 100px; color:#fff; font-weight: bold;}

.slideNum{ position:absolute; left:50%;  bottom:5px; width: 300px; height: 24px; margin-left: -150px; text-align: center;}
.slideNum li{display: inline-block; margin:0 3px; width:24px; height:24px; line-height: 24px;  text-align:center; background:#222; color:#FFF; cursor:pointer; border-radius:12px; font-size: 14px; *display: inline; *padding: 5px 8px; }
.slideNum li.current{background:#CCC; cursor:default;}


	.imgdiv{
		position:absolute;
	}
	.img15{
		top:163px;
		left:0px;
		width:342px;
		height:385px;
	}
	.img16{
		top:0px;
		left:62px;
		width:300px;
		height:257px;
	}
	.img18{
		top:86px;
		right:0px;
		width:300px;
		height:340px;
	}
	.img17{
		top:357px;
		right:0px;
		width:315px;
		height:354px;
	}
}
.section5{
	height:1010px;
	text-align:center;
	border-bottom:2px solid #eaeaea;
}
.sect5-word{
	padding-top:80px;
	height:328px;
	border-bottom:1px solid #e7e6eb;
}
.sect5-title{
	font-size:10px;
	font-color:#434343;
}
.sect5-title2{
	font-color:#878787;
	font-size:30px;
	margin:22px auto;
}
.sect5-desc{
	font-size:14px;
	font-color:#8a8a8a;
}
.sect5-level{
	margin-top:25px;
	width:26px;
	height:3px;
	background-color:#000;
}
.sect5-dai{
	position:relative;
}
.desc1{
	position:absolute;
	top:-50px;
	left:25%;
	transition:top 2s;
	-moz-transition:top 2s, -moz-transform 2s; /* Firefox 4 */
	-webkit-transition:top 2s, -webkit-transform 2s; /* Safari and Chrome */
	-o-transition:top 2s, -o-transform 2s; /* Opera */
}
.desc1L{
	position:absolute;
	top:-115px;
	background-color:#fff;
	left:25%;
}
.sect5-desc2{
	position:absolute;
	left:50%;
	text-align:left;
	font-size:#898989;
	padding-top:176px; 
}
.sect5-dai-desc1{
	font-size:14px;
	margin-bottom:30px;
	line-height:26px;
}
.sect5-dai-desc2{
	font-size:48px;
	font-color:#454545;
	margin-bottom:20px;
}
.pad{
	margin-bottom:44px;
}
.sect5-img{
	margin-top:30px;
	position:relative;
}
.sect5-img img{
	position:absolute;
}
.desc2{
	left:2px;
}
.desc3{
	left:40px;
}
.desc4{
	left:80px;
	display:none;
}
.section6{
	height:970px;
	margin:0 auto;
	position:relative;
}
.sect6-word{
	padding-top:120px;
	text-align: center;
	width:555px;
	position:absolute;
	left:50%;
	margin-left:-275px;
}
.sect6-title{
	font-size:10px;
}
.sect6-title2{
	font-size:30px;
	margin-top:18px;
	margin-bottom:18px;
}
.sect6-desc{
	margin-bottom: 80px;
	font-size:12px;
}
.sect6-dai{
	width:750px;
	height:630px;
	margin:0 auto;
	position:relative;
	top:320px;
}
.ds1{
	position:absolute;
	left:5%;
}
.ds2{
	position:absolute;
	left:25%;
}
.ds3{
	position:absolute;
	left:45%;
}
.ds4{
	position:absolute;
	left:65%;
}
.ds5{
	position:absolute;
	left:85%;
}

.section8{
	height:300px;
	background-color:#222222;
	margin:0 auto;
	text-align: center;
	color:#fff;
}
.sect8-title{
	padding-top:120px;
	font-size:10px;
}
.sect8-title2{
	font-size:28px;
	margin-top:20px
	font-size:28px;
}
.section9{
	height:651px;
	position:relative;
}
.message{
	width:49%;
	height:651px;
	float:left;
	position:relative;
}
/*.map{
	width:50%;
	float:left;
	height:651px;
	position:absolute;
}*/
.map{
	position:absolute;
	right:0;
	top:50%;
	margin-top:-325px;
	width:50%;
}
.map img{
	float:right;
	width:100%;
	height:650px;
}
.formMess{
	width:560px;
	height:350px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-175px;
	margin-left:-280px;
}
.formMess p{
	line-height: 90px;
}
.tx-v{
	width:268px;
	height:72px;
	display:inline-block;
}
.tx-v span{
	display:block;
	font-size:10px;
	margin-bottom:10px;
}
.tx-v input{
	width:266px;
	height:42px;
}
.tx-v .input-l{
	width:546px;
}
.tx-v textarea{
	width:546px;
	height:134px;
	border-color:#ccc;
	resize:none;
}
.footer{
	color:#fff;
	height:408px;
	background-color:#222222;
	text-align: center;
}
.footer-logo{
	padding-top:120px;
	margin:0 auto;
	text-align: center;
}

.footer-a{
	padding-top:36px;
	padding-bottom: 88px;
	width:600px;
}
.footer-a a{
	display:inline-block;
	text-decoration: none;
	font-size:14px;
	width:100px;
	color:#fff;
	text-align: center;
}
.test{
	padding-top:200px;
	height:700px;
	background-color:#ccc;
	text-align: center;
}
.point{
	height:8px;
	width:8px;
	border-radius:4px;
	background-color:#222;
	display:inline-block;
	margin:0 4px;
	cursor:pointer;
}
.selected{
	background-color: #fff;
}
.screen{
	width:200px;
	height:200px;
	border:1px solid red;
	position:relative;
}
#img1{
	left:100%;
}
#img2,#img3,#img4{
	left:100%;
}
#img1,#img2,#img3,#img4{
	width:200px;
	display:inline-block;
	position:absolute;
}
.closeSearch{ width:50px; height:50px; display:block;  position:absolute; left:80%; margin-left:-50px; z-index:999; }

.ssp-show{
    animation:showImg  0.5s;
}
.hide{
	left:100%;
}
@keyframes showImg{

	0%   {left: 0;right:-81px;}
	25%    {left: 45%;}
	50%   {left: 50%;}
	75%   {left: 65%;}
	100%   {left: 70%;}
}

.img16{
	top:-81px;
	left:-401px;
	transition:left 2s, top 2s;
	-moz-transition:left 2s, top 2s, -moz-transform 2s; /* Firefox 4 */
	-webkit-transition:left 2s, top 2s, -webkit-transform 2s; /* Safari and Chrome */
	-o-transition:left 2s, top 2s, -o-transform 2s; /* Opera */
}
.img16L{
	top:0;
	left:0;
}
.img17{
	top:900px;
	right:-421px;
	transition:right 2s, top 2s;
	-moz-transition:right 2s, top 2s, -moz-transform 2s; /* Firefox 4 */
	-webkit-transition:right 2s, top 2s, -webkit-transform 2s; /* Safari and Chrome */
	-o-transition:right 2s, top 2s, -o-transform 2s; /* Opera */
}
.img17L{
	top:476px;
	right:0px;
} 

.img15{
	top:-81px;
	left:-457px;
	transition:left 2s, top 2s;
	-moz-transition:left 2s, top 2s, -moz-transform 2s; /* Firefox 4 */
	-webkit-transition:left 2s, top 2s, -webkit-transform 2s; /* Safari and Chrome */
	-o-transition:left 2s, top 2s, -o-transform 2s; /* Opera */
} 
.img15L{
	top:218px;
	left:0px;
}
    
.img18{
	top:115px;
	right:-801px;
	transition:right 2s, top 2s;
	-moz-transition:right 2s, top 2s, -moz-transform 2s; /* Firefox 4 */
	-webkit-transition:right 2s, top 2s, -webkit-transform 2s; /* Safari and Chrome */
	-o-transition:right 2s, top 2s, -o-transform 2s; /* Opera */
}	
.img18L{
	top:115px;
	right:0px;
}
.section4{
	overflow:hidden;
}

